---
layout: layout.liquid
title: Page
---

<main class="page text-left">
    <div class="panel" data-layout="full">
        <div class="feature-box oversize-panel bg-white">
            {{ content }}
        </div>
        <footer class="footer text-center w-900">
            <hr>
            <p>© 2025 WeWantMoar. All rights reserved.</p>
            <p>
                Artwork © WeWantMoar or used with permission.
            </p>
        </footer>
    </div>
</main>